// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #page.drawers .main-inner {
        margin-top: 0.5rem;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .pagelayout-standard #page.drawers .main-inner, body.limitedwidth #page.drawers .main-inner,
    .pagelayout-standard #page.drawers .footer-popover, body.limitedwidth #page.drawers .footer-popover,
    .secondary-navigation .navigation .nav-tabs, .header-maxwidth {
        max-width: 100%;
    }
    .secondary-navigation {
        .navigation {
            padding: 0;
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .drawer-left, .drawer-right {
        top: 72px;
        height: calc(100vh - 72px);
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1600px and up)
@media (min-width: 1600px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

